.new-password {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px 32px;
}

.new-password__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--text-primary);
  margin: 0;
}
